body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

a {
    color: #ff6219;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h4 {
    color: #333;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-form label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff6219;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.login-form input[type="submit"]:hover {
    background-color: #e65700;
}
.header {
    background-color: #9A616D;
    padding: 20px 0;
}

.header-title {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    text-align: center;
}
